.no-underline {
    text-decoration: none !important;
}

ion-item {
  --min-height: 45px;
  --border-radius: 100px;
  --border-width: 1px;
  --border-color: gray;
  
  &::part(native) {
      border: 1px solid gray;    
  }
  
  ion-img {
      width: 25px;
  }

  ion-input {
      min-height: 45px;
  }
}

ion-grid {
    ion-row {
        ion-col .forgot-password{
            color: var(--ion-color-warning);
        }

        ion-label {
            color: var(--ion-color-medium);
        }
        ion-text {
            .new-ms-logger{
                color: var(--ion-color-medium);
            }

            .sign-up {
                color: var(--ion-color-primary);
            }
        }
    }
}
