<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content> -->


<!-- 
<ion-content [fullscreen]="true">
  <div id="container">
    <ion-item class="item-background-color" lines="none">
      <ion-input class="rounded-input" fill="outline" placeholder="Email"></ion-input>
    </ion-item>
    
    <ion-item class="item-background-color" lines="none">
      <ion-input class="rounded-input" fill="outline" placeholder="Password"></ion-input>
    </ion-item>
      <div id="forgot_password" lines="none">
        <div lines="none">
          <ion-checkbox mode="md"></ion-checkbox>
          <label style="margin: 0px 5px;">Remember Me</label>
        </div>
        <div lines="none">
          <p> <a href="#">Forgot Password?</a></p>
        </div>
      </div>
  </div>
</ion-content> -->

<ion-content class="ion-padding" [fullscreen]="true">
  <!-- <ion-img src="../../../assets/images/LogoWithBlueBg.png" alt="Logo with blue background"></ion-img> -->
  <ion-list lines="none">
    <ion-item class="ion-margin-top">
      <!-- <ion-img src="/assets/images/mail.png" slot="start" alt="Logo with blue background" class="mail-icon"></ion-img> -->
      <ion-input placeholder="Email"></ion-input>
    </ion-item>
    <ion-item class="ion-margin-top">
      <!-- <ion-img src="/assets/images/mail.png" slot="start" alt="Logo with blue background" class="mail-icon"></ion-img> -->
      <ion-input placeholder="Password"></ion-input>
    </ion-item>
  </ion-list>

  <ion-grid>
    <ion-row  class="ion-justify-content-between ion-align-items-center">
      <ion-col>
        <ion-checkbox mode="md"></ion-checkbox>
        <ion-label class="ion-margin-start">Remember Me</ion-label>
      </ion-col>
      <ion-col>
        <a href="#" class="no-underline ion-text-capitalize forgot-password"><strong>Forgot Password?</strong></a>
      </ion-col>
    </ion-row>
    <ion-row class=" ion-margin-top">
      <ion-col>
      <ion-button color="primary" class="ion-text-capitalize" expand="block" shape="round">Sign In</ion-button>
     </ion-col>
   </ion-row>
    <ion-row class="ion-text-center  ion-margin-top">
      <ion-col>
      <ion-text class="ion-margin-top">
        <a href="#" class="no-underline ion-text-capitalize new-ms-logger"><strong>New To MS Logger?</strong></a>
      </ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="ion-text-center ion-margin-top">
      <ion-col>
      <ion-text class="ion-margin-top">
        <a href="#" class="no-underline ion-text-capitalize sign-up"><strong>Sign Up from here →</strong></a>
      </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>